#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#tratamentos {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 32px;
    flex-wrap: wrap;
}

.tratamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    min-width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    color: #0b4449;
    gap: 20px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
} 

.tratamento .btn-default {
    margin-top: auto; 
}

.trat-description {
    color: black;
    text-align: center;
}

.trat-image {
    width: 100%;
    height: 250px;
    object-fit:cover;
}

@media screen and (max-width: 550px) {
    #tratamentos {
        flex-direction: column;
        align-items: center;
    }

    .tratamento {
        width: 100%;
    }

    .trat-image {
        height: 100%;
    }
}