@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('footer.css');

:root {
    --azul1: #ddf4f5;
    --azul2: #E1F3F5;
    --azul3: #C3E8EB;
    --azul4: #A5DDE1;
    --azul5: #87D2D7;
    --azul6: #69C7CD;
    --azul7: #4BBCC3;
    --azul8: #3CAFB7;
    --azul9: #2D8A91;
    --azul10: #1E656B;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F9F9;
}

section {
    padding: 30px 8%;
}

.btn-default {
    text-decoration: none;
    border: none;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #3E8E91;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: background-color .3s ease;

}

.btn-default:hover {
    background-color: #4EB1BA;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--azul9);
    color:white;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 3rem;
    color: var(--azul10);
}

.section-subtitle {
    font-size: 2.1875rem;
    color: #69C7CD
}